.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.filter {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.switch-icon {
  margin-right: 10px;
  color: rgb(37, 37, 37);
  padding: 5px;
}

.active-icon {
  background-color: #2222;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .switch-icon {
    display: none;
  }
}
