.single-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 3fr repeat(1, 1fr);
  align-items: center;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.single-product:nth-child(2n + 1) {
  background-color: #2121;
}

.product-image img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.product-image {
  justify-self: start;
}

.product-name {
  justify-self: start;
}
.product-name > h3 {
  margin: 0 20px;
}
.product-description > p {
  margin: 0 20px;
}

.product-price {
  justify-self: center;
}

@media only screen and (max-width: 768px) {
  .single-product {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-price,
  .product-description,
  .product-name,
  .product-image {
    justify-self: center;
  }
}
