.single-product {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(224, 224, 224);
  padding: 10px;
}

.single-product:nth-child(2n + 1) {
  background-color: #2121;
}

.product-image img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name > h3 {
  margin: 0 20px;
}
.product-description > p {
  margin: 0 20px;
}
